div(class="head")
    <div class="ground-trans"></div>
    div(class="container")
        div(class="lang d-flex")
            div(class="lang-img")
                img(src="../images/logowhite.png")
            div(class="lang-info")
                a(href="#" class="d-inline-flex")
                    img(src="../images/flag.png", alt="", srcset="")
                    h6 العربية
        div(class="body-head")
            h1 Become a Partner
                